<a href="https://colab.research.google.com/github/henrique-furtado47/Algoritmos-python/blob/main/Algoritmos_II_exercicio_List_Comprehension_31_10_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Crie uma lista com os números de 1 a 10 usando compreensão de lista.**

In [1]:
lista=[i for i in range(1,11)]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**2. Crie uma lista com os números ímpares de 1 a 50.**

In [3]:
lista=[i for i in range(1,51) if i%2!=0]
print(lista)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

**3. Crie uma lista com as letras maiúsculas de uma string qualquer.**

In [5]:
string="UmA sTriNg QuaLquer"
lista=[i for i in string if i.upper()==i and i!=" "]
print(lista)

['U', 'A', 'T', 'N', 'Q', 'L']

**4. Crie uma lista com o comprimento de cada palavra em uma string.**

In [21]:
string="Eu amo batata frita com arroz e bacon"
lista=[(i, str(len(i)) + " letras") for i in string.split()]
print(lista)

[('Eu', '2 letras'), ('amo', '3 letras'), ('batata', '6 letras'), ('frita', '5 letras'), ('com', '3 letras'), ('arroz', '5 letras'), ('e', '1 letras'), ('bacon', '5 letras')]

**5. Crie uma lista com os números divisíveis por 3 e 5 de 1 a 30.**

In [22]:
lista=[i for i in range(1,31) if i%3==0 and i%5==0]
print(lista)

[15, 30]

**6. Crie uma lista com as palavras de uma string que tenham mais de 3 letras.**

In [23]:
string="Eu amo batata frita com arroz e bacon"
lista=[i for i in string.split() if len(i)>3]
print(lista)

['batata', 'frita', 'arroz', 'bacon']

**7. Crie uma lista com os números primos de 1 a 20. Dica: use uma função para
verificar se o número é primo ou não.**

In [27]:
def is_prime(numero):
  if numero<2:
    return False
  for i in range(2, int(numero**0.5) + 1):
    if numero%i==0:
      return False
  return True
lista=[i for i in range(1,21) if is_prime(i)]
print(lista)

[2, 3, 5, 7, 11, 13, 17, 19]

**8. Crie uma lista com as datas de todos os dias de janeiro em um ano bissexto
(considerando que um ano bissexto é divisível por 4).**

In [35]:
lista=[f"{i:02}/01/2024" for i in range(1,32)]
print(lista)

['01/01/2024', '02/01/2024', '03/01/2024', '04/01/2024', '05/01/2024', '06/01/2024', '07/01/2024', '08/01/2024', '09/01/2024', '10/01/2024', '11/01/2024', '12/01/2024', '13/01/2024', '14/01/2024', '15/01/2024', '16/01/2024', '17/01/2024', '18/01/2024', '19/01/2024', '20/01/2024', '21/01/2024', '22/01/2024', '23/01/2024', '24/01/2024', '25/01/2024', '26/01/2024', '27/01/2024', '28/01/2024', '29/01/2024', '30/01/2024', '31/01/2024']

**9. Crie uma lista de strings com os primeiros 10 nomes da lista de nomes.**

In [48]:
nomes=["Alice", "Bob", "Charlie", "David", "Eve",
      "Jonas", "Maria", "Felipe", "Ana", "Marcos",
      "Roberto", "Camila", "Julia", "Bruno", "Luiza",
      "Vitor", "Sofia", "Rafael", "Isabela", "Gustavo"]

lista=[f"{i+1}. {nomes[i]}" for i in range(len(nomes)) if i<10]
print(lista)

['1. Alice', '2. Bob', '3. Charlie', '4. David', '5. Eve', '6. Jonas', '7. Maria', '8. Felipe', '9. Ana', '10. Marcos']

**10. Crie uma lista de strings com os nomes dos primeiros 10 nomes da lista de
nomes, mas com as primeiras letras maiúsculas.**

In [49]:
nomes=[
    "alice", "bob", "charlie", "david", "eve",
    "jonas", "maria", "felipe", "ana", "marcos",
    "roberto", "camila", "julia", "bruno", "luiza",
    "vitor", "sofia", "rafael", "isabela", "gustavo"
]

lista=[f"{i+1}. {nomes[i].capitalize()}" for i in range(len(nomes)) if i<10]
print(lista)

['1. Alice', '2. Bob', '3. Charlie', '4. David', '5. Eve', '6. Jonas', '7. Maria', '8. Felipe', '9. Ana', '10. Marcos']

**11. Crie uma lista de strings com os nomes dos primeiros 10 nomes da lista de
nomes, mas sem as vogais.**

In [70]:
nomes=["Alice", "Bob", "Charlie", "David", "Eve",
      "Jonas", "Maria", "Felipe", "Ana", "Marcos",
      "Roberto", "Camila", "Julia", "Bruno", "Luiza",
      "Vitor", "Sofia", "Rafael", "Isabela", "Gustavo"]

vogais=['a', 'e', 'i', 'o', 'u']
lista = ["".join([letra for letra in nome if letra.lower() not in vogais]) for nome in nomes[:10]]
print(lista)

['lc', 'Bb', 'Chrl', 'Dvd', 'v', 'Jns', 'Mr', 'Flp', 'n', 'Mrcs']

**12. Concatenar elementos de sub-listas em uma única lista**

In [71]:
sub_listas=[[1, 2 , 3], [4, 5, 6], [7, 8, 9 , 10]]
lista=[item for sub_lista in sub_listas for item in sub_lista]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**13. Criar um dicionário a partir de duas listas**

In [79]:
chaves=["a", "b", "c"]
valores=[1, 2, 3]
dicionario={chaves[i]: valores[i] for i in range(len(chaves))}
print(dicionario)

{'a': 1, 'b': 2, 'c': 3}